<p-card>
  <p-splitter
  >
    <ng-template pTemplate>
      <p-splitter layout="vertical" [panelSizes]="[50, 50]">
        <ng-template pTemplate>
          <p-splitter [panelSizes]="[50, 50]">
            <ng-template pTemplate>
              <div class="col flex align-items-center justify-content-center">
                <p-card
                  header="Formulario"
                  subheader="Ingresar el libro"
                  [style]="{ width: 'auto' }"
                  styleClass="p-card-shadow"
                >
                  <ng-template pTemplate="content">
                    <div class="grid p-fluid">
                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon">ISBN</span>
                          <input
                            class=""
                            type="text"
                            pInputText
                            name=""
                            id=""
                            placeholder="ISBN"
                            [(ngModel)]="initialValues.isbn"
                          />
                        </div>
                      </div>
                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon">Titulo</span>
                          <input
                            class=""
                            type="text"
                            pInputText
                            name=""
                            id=""
                            placeholder="Titulo"
                            [(ngModel)]="initialValues.tittle"
                          />
                        </div>
                      </div>
                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon">Autor</span>
                          <input
                            class=""
                            type="text"
                            pInputText
                            name=""
                            id=""
                            placeholder="Autor"
                            [(ngModel)]="initialValues.autor"
                          />
                        </div>
                      </div>
                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon">Editorial</span>
                          <input
                            class=""
                            type="text"
                            pInputText
                            name=""
                            id=""
                            placeholder="Editorial"
                            [(ngModel)]="initialValues.editorial"
                          />
                        </div>
                      </div>
                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon">Categoria</span>
                          <input
                            class=""
                            type="text"
                            pInputText
                            name=""
                            id=""
                            placeholder="Categoria"
                            [(ngModel)]="initialValues.category"
                          />
                        </div>
                      </div>
                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"
                            >Fecha de creacion</span
                          >
                          <input
                            class=""
                            type="date"
                            pInputText
                            name=""
                            id=""
                            placeholder="Fecha de creacion"
                            [(ngModel)]="initialValues.createdDate"
                          />
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template pTemplate="footer">
                    <p-button
                      (click)="save()"
                      label="Save"
                      icon="pi pi-check"
                    ></p-button>
                    <p-button
                      (click)="deleteById()"
                      label="Eliminar"
                      icon="pi pi-times"
                      styleClass="p-button-secondary"
                      [style]="{ 'margin-left': '.5em' }"
                    ></p-button>
                  </ng-template>
                </p-card>
              </div>
            </ng-template>
            <ng-template pTemplate>
              <div class="col flex align-items-center justify-content-center">
                <p-card
                  header="Generar Reporte"
                  subheader="Buscar"
                  [style]="{ width: 'auto' }"
                  styleClass="p-card-shadow"
                >
                  <ng-template pTemplate="content">
                    <div class="filtro">
                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"
                            >reporte por autor:</span
                          >
                          <input
                            #inputSearchAutor
                            class=""
                            pInputText
                            type="text"
                            name=""
                            placeholder="Buscar"
                            id=""
                            (input)="onInputAutor(inputSearchAutor.value)"
                          />
                        </div>
                      </div>

                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"
                            >reporte por Titulo:</span
                          >
                          <input
                            #inputSearchTittle
                            class=""
                            pInputText
                            type="text"
                            name=""
                            placeholder="Buscar"
                            id=""
                            (input)="onInputTittle(inputSearchTittle.value)"
                          />
                        </div>
                      </div>

                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"
                            >reporte por Editorial:</span
                          >
                          <input
                            #inputSearchEditorial
                            class=""
                            pInputText
                            type="text"
                            name=""
                            placeholder="Buscar"
                            id=""
                            (input)="
                              onInputEditorial(inputSearchEditorial.value)
                            "
                          />
                        </div>
                      </div>

                      <div class="col-12 md:col-4 input">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"
                            >reporte por Categoria:</span
                          >
                          <input
                            #inputSearchCategoria
                            class=""
                            pInputText
                            type="text"
                            name=""
                            placeholder="Buscar"
                            id=""
                            (input)="
                              onInputCategoria(inputSearchCategoria.value)
                            "
                          />
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </ng-template>
          </p-splitter>
        </ng-template>
        <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
            <p-card header="Libros" [style]="{'margin-bottom': '2em'}">
                <ng-template pTemplate="content">
                    <p-table [value]="allBooks" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>ISBN</th>
                            <th>Titulo</th>
                            <th>Autor</th>
          
                            <th>Editorial</th>
                            <th>Categoria</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-book>
                          <tr>
                            <td>{{ book.isbn }}</td>
                            <td>{{ book.tittle }}</td>
                            <td>{{ book.autor }}</td>
                            <td>{{ book.editorial }}</td>
                            <td>{{ book.category }}</td>
                            <td>{{ book.createdDate }}</td>
                            <td>
                              <a [routerLink]="[book.libroId]">
                                <i class="pi pi-user-edit"></i>
                              </a>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                </ng-template>
              </p-card>
            


          </div>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</p-card>
