

<div class="">
    <label for="">ISBN:</label>
    <input class="" type="text" name="" id="" placeholder="ISBN"
      [(ngModel)]="initialValues.isbn">
      <label for="">Titulo:</label>
    <input class="" type="text" name="" id="" placeholder="Titulo"
      [(ngModel)]="initialValues.tittle">
      <label for="">Autor:</label>
    <input class="" type="text" name="" id="" placeholder="Autor"
      [(ngModel)]="initialValues.autor">
      <label for="">Editorial:</label>
    <input class="" type="text" name="" id="" placeholder="Editorial"
      [(ngModel)]="initialValues.editorial">
      <label for="">Categoria:</label>
    <input class="" type="text" name="" id="" placeholder="Categoria"
      [(ngModel)]="initialValues.category">
      <label for="">Fecha de creacion:</label>
    <input class="" type="date" name="" id="" placeholder="Fecha de creacion"
      [(ngModel)]="initialValues.created_date">

      <button class="" (click)="save()">Guardar</button>
</div>


