
<p-splitter [style]="{ height: 'auto' }" styleClass="p-mb-5">
  <ng-template pTemplate>
    <div class="p-col p-d-flex p-ai-center p-jc-center">
      <p-card
        header="Formulario"
        subheader="Ingresar el curso"
        [style]="{ width: 'auto' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="content">
          <div class="grid p-fluid">
            <div class="col-12 md:col-4 input">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Nombre del curso</span>
                <input
                  maxlength="50"
                  class=""
                  type="text"
                  pInputText
                  name=""
                  id=""
                  placeholder="Nombre del curso"
                  [(ngModel)]="initialValues.name"
                />
              </div>
            </div>
            <div class="col-12 md:col-4 input">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">HORAS</span>
                <input
                  maxlength="5"
                  class=""
                  type="text"
                  pInputText
                  name=""
                  id=""
                  placeholder="HORAS"
                  [(ngModel)]="initialValues.email"
                />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <p-button (click)="save()" label="Save" icon="pi pi-check"></p-button>
        </ng-template>
      </p-card>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="p-col p-d-flex p-ai-center p-jc-center">
      <p-card header="Cursos" [style]="{ 'margin-bottom': '2em' }">
        <div class="card">
          <p-table
            [value]="allCourses"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
            currentPageReportTemplate="Mostrando {first} de {last}, {totalRecords} filas"
            [rowsPerPageOptions]="[5, 10, 50]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>name</th>
                <th>email</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course>
              <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.email }}</td>
                <td>
                  <a (click)="selectCourse(course.id)">
                    <p-button
                      icon="pi pi-user-edit"
                      styleClass="p-button-info"
                      iconPos="left"
                    ></p-button>
                  </a>

                  <a (click)="deleteByIdClick(course.id)">
                    <p-button
                      icon="pi pi-trash"
                      styleClass="p-button-danger"
                      iconPos="left"
                    ></p-button>
                  </a>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="paginatorright">
              <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </ng-template>
</p-splitter>

